<div class="section">
    <div class="row">
        <br>
        <h5 class="center-align">Detalle Tipo Lugar</h5>
        <br>
        <h5 class="center-align">Los campos marcados con * son obligatorios</h5>
        <br>
        <form id="frmUpdateTipoLugar" class="col s12">
            <input type="hidden" class="form-control" 
                   id="id" name="id" required/>
            <div class="row">
                <div class="input-field col s12">                    
                    <input  id="tluNombre" type="text" class="validate necesario">
                    <label for="tluNombre">* Nombre</label>
                </div>       
            </div> 

            <div class="row">
                <div class="input-field col s12">
                    <input type="reset" value="Cancelar" class="btn btn_center">                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="btnUpdateTipoLugar" type="button" value="Enviar" class="btn btn_center validate">
                </div>
            </div>                
        </form>        
        <script src="appclient/js/private/tipoLugar/detalleTipoLugar.js" type="text/javascript"></script>
    </div>
</div>
